/* CSS Document */
body,html,text {
	margin:0;
	padding:0;
	width:100%;
	}

#wrap{ width:890px;
margin:0 auto;
background:#FFFFFF}

#aa{ text-align:center;
color:#333333;
/*font:14px/1.7 "Comic Sans MS",Georgia,Bitstream Charter,serif;
*/}

#ab{ text-align:center;
color:#333333;
font:44px/1.7 large;
}

#form{ padding:5px; 
  margin:10px;					/* koto tuku niche ba upore....*/
}
#add_stuinfo{ padding:9px; 
  margin:10px;
}
#add_teacherinfo{padding:9px; 
  margin:10px;}

url{ text-decoration:none;

}

/*....................................................*/
/*....................................................
1st nev Bar CSS Start
 ...................................................*/
/*....................................................*/
#n_menu{
padding-top:12px;
padding-left:22px;
padding-bottom:19px;
margin:1px;
}

ul{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
margin:0;
padding:0;
list-style:none;
}

ul li{
	display:block;
	position:relative;
	float:left;
}

li ul{
 display:none;}

ul li a{ 
	display:block;
	text-decoration:none;
	color:#FFFFCC;
	border-top:1px solid #FF0000;
	padding:6px 48px 6px 48px;
	background:#2C5463;
	margin-left:1px;
	white-space:nowrap;
	border-bottom:1px solid #FF0000;
	
}

li:hover ul{ 
	display:block;
	position:absolute;
	}


  ul li a:hover{
   background-color:#33CC33;
  color:#FFFFFF;
  }
 
  
  li:hover li{ float:none;
  font-size:11px;}
  
  li:hover a{
  background:#000000;
  }
  
  li:hover li a:hover{ background:#33CC33;
  }
  
  
  
/*....................................................*/
/*....................................................
1st nev Bar CSS Close
 ...................................................*/
/*....................................................*/
  
  
  


/*....................................................*/
/*....................................................
2nd SideBar CSS Start
 ...................................................*/
/*....................................................*/







/*
.side_div_nev{
	padding-top:12px;
	padding-left:22px;
	padding-bottom:19px;
	margin:1px;
}
*/
.side_div_nev{
	position:relative;
	width:250px;
	background:#c9c;
	float:left;
}


.side_div_nev ul{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	margin:0;
	padding:0;
	list-style:none;
}

.side_div_nev ul li{
	display:block;
	position:relative;
	float:left;
}

.side_div_nev li ul{
 display:none;}

.side_div_nev ul li a{ 
	display:block;
	text-decoration:none;
	color:#FFFFFF;
	border-top:1px solid #FF0000;
	padding:10px 48px 10px 48px;
	background:#2C5463;
	margin-left:1px;
	white-space:nowrap;
	
}

.side_div_nev li:hover ul{ 
	display:block;
	position:absolute;}


.side_div_nev ul li a:hover{
 
  background-color:#33CC33;
  color:#FFFFFF;
  }
 
  
.side_div_nev li:hover li{ float:none;
  font-size:14px;}
  
.side_div_nev li:hover a{
  background:#000000;
  }
  
.side_div_nev li:hover li a:hover{ background:#33CC33;
  }
  
  









/*....................................................*/
/*....................................................
2nd SideBar CSS Close
 ...................................................*/
/*....................................................*/







#footer{ margin:10px; 
clear:both;
padding:1px 1px 1px 1px;
background:#CCCCCC}
